django==4.2.7
django-oscar[sorl-thumbnail]==3.2.2
django-oscar-api==3.2.4
pillow==10.1.0
drf-spectacular==0.26.5
aiogram==3.1.1
python-dotenv==1.0.0
psycopg==3.1.12
django-cors-headers==4.3.1
gunicorn==21.2.0
djangorestframework-simplejwt==5.3.1