
// .filters {
//   width: 100%;
//   padding: 0;
//   margin-top: 12px;
  
//   .categories {
//     display: flex;
//     overflow-x: auto;
//     gap: 8px;
//     padding-bottom: 8px;
    
//     &::-webkit-scrollbar {
//       display: none;
//     }
//     scrollbar-width: none;
    
//     .category {
//       flex: 0 0 auto;
//       padding: 8px 16px;
//       border-radius: 12px;
//       font-size: 14px;
//       cursor: pointer;
//       transition: all 0.2s;
//       background: #375aab;
//       color: #fff;
//       white-space: nowrap;
      
//       &.active {
//         background: #2a995b;
//         color: white;
//       }
//     }
//   }
// }
.filters {
  width: 100%;
  margin-top: 12px;
  position: relative;

  .scroll_container {
    position: relative;
    margin: 0 -19px; // Отрицательный отступ для выхода за границы контейнера
    padding: 0 19px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .categories {
    display: inline-flex; // Изменено с flex на inline-flex
    gap: 8px;
    padding-bottom: 8px;
    padding-right: 19px; // Добавляем отступ справа для последнего элемента
    
    .category {
      flex: 0 0 auto;
      padding: 8px 16px;
      border-radius: 12px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      background: #375aab;
      color: #fff;
      white-space: nowrap;
      
      &.active {
        background: #2a995b;
        color: white;
      }
    }
  }
}