.table {
    height: 100%;
}

.head__table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.head__filters {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Только добавляем красную обводку, сохраняя все остальные стили */
.changedDataRow {
    outline: 2px solid #ff4d4f !important;
    /* outline не влияет на размер и позиционирование элемента */
}