
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-bottom: 90px; // Отступ для фиксированной кнопки

  .img {
    position: relative;
    width: 100%;
    max-width: 249px;
    height: 283px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      object-fit: contain;
    }
  }

  .card {
    padding: 19px 16px;
    width: 100%;
    background: linear-gradient(225deg, #2a3b67 0%, #375aab 100%);
    // border-radius: 30px;
    // border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    height: max-content;
    padding-bottom: 70px;

    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .title {
        display: flex;
        grid-gap: 11px;
        align-items: center;
        span {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.07em;
          color: #fff;
        }
      }
      
      .type {
        display: flex;
        align-items: center;
        grid-gap: 7px;
        span {
          font-weight: 500;
          font-size: 10px;
          letter-spacing: 0.1em;
          color: #fff;
        }
      }
    }

    .product_name {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #fff;
      text-transform: none;
    }

    .price {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #fff;
    }

    .desc {
      font-weight: 400;
      font-size: 17px;
      letter-spacing: 0.05em;
      color: #fff;
    }
  }

  .add {
    position: fixed;
    bottom: 73px;
    left: 0;
    right: 0;
    padding: 16px;
    // background: linear-gradient(225deg, #2a3b67 0%, #375aab 100%);
    display: flex;
    justify-content: center;
    z-index: 10;
  }
}